<div id="extra-menu">
	<div id="relative_float">
		<div id="rotating">
		<i class="rotate_icon"></i>
		</div>
		<div id="hidable-holder">
			<div class="hidable">
				<!-- Here we put menu items -->
				<span>My Applications</span>
				<span>My JOb watchlist</span>
			</div>
		</div>
	</div>
</div>