<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">      
    	<div class="container">
        	<%= render 'shared/brand' %>
        	<%= render 'shared/search_bar' %>
        	<%= render 'shared/menubar' %>
    	</div>
  	</div>
    <div class="jumbotron masthead">
    </div>
</div>