
<% if signed_in? %>	
	<%= render '/shared/user_menu' %>
<% else %>
<div class="right user-options">
		<%= link_to "Signin", signin_path, remote: true, class: 'log_in' %>
		<%= link_to "Signup", signup_path, class: 'sign_up' %>
	</div>
<% end %>