<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      
      <div class="container">
        <a class="brand"><img class="logo" src="assets/jobly3.png">obly</a>
    </div>
  </div>
    <div class="jumbotron masthead">
    </div>
</div>