<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      
      <div class="container">
        <a href="/" class="brand"><img class="logo" src="assets/jobly3.png" style="margin-right: 2px;">obly</a>
        
        <%render 'shared/userbar' %>
    </div>
  </div>
    <div class="jumbotron masthead">
    </div>
</div>