<div>
<%= form_tag("/search", :method => "get", class: 'navbar-search', autocomplete: 'off') do %>
  <%= text_field_tag :query, "", class: 'search search-box', placeholder: 'Search Jobs' %>
  <span style="color: #B9B9B9"> around </span>
  <%= text_field_tag :place, "", class: 'place search-box', placeholder: 'Helsinki, Finland' %>
  <%= image_submit_tag "" , :class => "icon-search icon-white" %>
<% end %>
</div>