
<div><h4>Update Banner Image</h4></div>
<div class="line_red"></div>
<div class="pad-10">
<%= form_for (@company_profile), method: :put do |f| %>
	<%= f.file_field :banner %>
	<%= f.submit 'Save', remote: true, class: 'btn btn-primary' %>
<% end%>
</div>

<span style="color: grey;">Note that, banner picture will be put exactly as it is if the resolution is 940x200 or with same ratio but in bigger size.<br>
If not, it will be  automatically cropped to maintain that ratio and outcome might be unexpected.
</span>