<% provide(:title, @user_profile.firstname+ ' '+@user_profile.lastname+' | Edit Proifle') %>
<h3>User Profiles</h3>
<%= form_for @user_profile, :html => { :multipart => true } do |f| %>	
	<%= render 'form', :f => f %>
	
<% end %>